<div class="alo-migros-info">
  <h3 class="description text-color-black">Nasıl sipariş verebilirim?</h3>
  <div class="description--detail">
    <div class="count mat-body-2 text-color-white"><span>1</span></div>
    <span class="info-text">
      <span class="text-break mat-body-2"
        >Siparişinizi
        <span>
          <span>arama</span>
          <span class="text-comma">,</span>
        </span>
        <span class="text-color">sms</span>
        veya
        <span class="text-color">whatsapp</span>
      </span>
      <span class="text-break mat-body-2"> yoluyla verebilirsiniz.</span>
    </span>
    <i class="icon icon-alo-migros-1"></i>
  </div>
  <div class="description--detail">
    <div class="count mat-body-2 text-color-white"><span>2</span></div>
    <div class="info-text mat-body-2">Sizden siparişiniz, ödeme tipi, poşet bilgileri ve adresiniz alınır.</div>
    <i class="icon icon-alo-migros-2"></i>
  </div>
  <div class="description--detail">
    <div class="count mat-body-2 text-color-white"><span>3</span></div>
    <div class="info-text mat-body-2">Siparişiniz mağazamız tarafından toplanır.</div>
    <i class="icon icon-alo-migros-3"></i>
  </div>
  <div class="description--detail">
    <div class="count mat-body-2 text-color-white"><span>4</span></div>
    <div class="info-text mat-body-2">Ürünler sipariş adresinize taşınır.</div>
    <i class="icon icon-alo-migros-4"></i>
  </div>
  <div class="description--detail">
    <div class="count mat-body-2 text-color-white"><span>5</span></div>
    <span class="info-text">
      <span class="text-break mat-body-2 text first">
        Ödemenizi
        <span class="text-color">kapıda kredi kartıyla</span>
        veya
        <span class="text-color text-break">nakit</span>
        olarak yapabilirsiniz.
      </span>
    </span>
    <i class="icon icon-alo-migros-5"></i>
  </div>
  <div class="description--detail">
    <div class="count mat-body-2 text-color-white"><span>6</span></div>
    <span class="info-text">
      <span class="text-break mat-body-2"> Siparişiniz teslim edilir. </span>
    </span>
    <i class="icon icon-alo-migros-6"></i>
  </div>
</div>
