<div class="forgot-password">
  <mat-card class="forgot-password__content">
    <mat-card-header class="justify-content-center">
      <fe-icon-button class="return-button" [icon]="returnIcon" routerLink="/giris"></fe-icon-button>
      <h3 class="text-color-black text-align-center">Giriş Yapamıyorum</h3>
    </mat-card-header>
    <mat-card-content>
      <ng-container>
        <div class="forgot-password__form">
          <p class="subtitle-2 text-align-center text-color-black">
            Hesabına ulaşabilmen için e-posta adresini doğrulaman gerekiyor
          </p>
          <form
            [formGroup]="resetEmailFormGroup"
            feAppSubmitThrottle
            (throttleSubmit)="onResetPasswordMail()"
            [throttleFormValid]="resetEmailFormGroup.valid"
          >
            <mat-form-field id="forgot-password_email" color="accent" appearance="outline" [hideRequiredMarker]="true">
              <mat-label class="subtitle-2 text-color-black">E-Posta</mat-label>
              <input type="email" autocomplete="email" matInput formControlName="email" required />
              <button
                mat-button
                type="button"
                color="accent"
                matSuffix
                *ngIf="getEmail().value"
                (click)="clear('email')"
              >
                <fa-icon [icon]="clearIcon"></fa-icon>
              </button>
              <mat-error *ngIf="getEmail().invalid && getEmail().errors.required"> Bu alan zorunludur. </mat-error>
              <mat-error *ngIf="getEmail().invalid && getEmail().errors.email"> Bu alanı kontrol edin. </mat-error>
            </mat-form-field>
            <fe-button
              [isDisabled]="getEmail().invalid"
              id="forgot-password__submit-button"
              type="submit"
              label="Doğrulama Linki Gönder"
            ></fe-button>
          </form>
        </div>
      </ng-container>

      <div class="forgot-password__links">
        <p class="subtitle-2 text-align-center text-color-black">E-posta adresini hatırlayamıyor musun?</p>
        <p class="text-color-grey mat-caption-normal">
          Hesabına ulaşabilmemiz için müşteri temsilcimiz ile görüşmen gerekiyor.
        </p>
        <div class="tel bg-brand-T16">
          <fa-icon class="tel-icon" [icon]="phoneIcon"></fa-icon>
          <a href="tel:0850 200 40 00" class="tel-no"><h2>0850 200 40 00</h2></a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
