<div class="money-transfer-tabs-wrapper">
  <mat-tab-group mat-stretch-tabs (selectedIndexChange)="setCurrentTabIndex($event)">
    <mat-tab label="Mağazadan Para Gönderme">
      <sm-money-transfer-steps
        [stepsTitle]="'Nasıl mağazadan para gönderebilirim?'"
        [stepList]="getStoreSteps()"
      ></sm-money-transfer-steps>
    </mat-tab>
    <mat-tab label="Web'den Para Gönderme">
      <div class="web-banner">
        <a href="https://gonder-al.com/money-transfer" target="_blank">
          <img src="assets/images/money-transfer/web-banner.png" alt="" />
        </a>
      </div>
      <sm-money-transfer-steps
        [stepsTitle]="'Nasıl webden para gönderebilirim?'"
        [stepList]="getWebSteps()"
      ></sm-money-transfer-steps>
    </mat-tab>
    <mat-tab label="Para Çekme">
      <sm-money-transfer-steps
        [stepsTitle]="'Nasıl mağazadan para çekebilirim?'"
        [stepList]="getWithdrawSteps()"
      ></sm-money-transfer-steps>
    </mat-tab>
    <mat-tab label="Ücretler">
      <table mat-table [dataSource]="getCosts()">
        <ng-container matColumnDef="minSendLimit">
          <th mat-header-cell *matHeaderCellDef>Alt Gönderim Limiti</th>
          <td mat-cell *matCellDef="let element">{{ element.minSendLimit | number: '1.2-2' }} TL</td>
        </ng-container>
        <ng-container matColumnDef="maxSendLimit">
          <th mat-header-cell *matHeaderCellDef>Üst Gönderim Limiti</th>
          <td mat-cell *matCellDef="let element">{{ element.maxSendLimit | number: '1.2-2' }} TL</td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef>İşlem Ücreti</th>
          <td mat-cell *matCellDef="let element">{{ element.cost | number: '1.2-2' }} TL</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedCostColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCostColumns"></tr>
      </table>
    </mat-tab>
    <mat-tab label="En Yakın Para Transfer Noktası">
      <sm-money-transfer-locations
        (selectedStores)="setMoneyTransferStores($event)"
        (moneyTransferWarning)="setMoneyTransferMessage($event)"
      ></sm-money-transfer-locations>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="money-transfer-location-result" *ngIf="isMoneyTransferResult()">
  <table mat-table [dataSource]="getMoneyTransferResults()">
    <ng-container matColumnDef="storeName">
      <th mat-header-cell *matHeaderCellDef>Mağaza Adı</th>
      <td mat-cell *matCellDef="let element">{{ element.warehouseName }}</td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Telefon</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Adres</th>
      <td mat-cell *matCellDef="let element">{{ element.addressDetail }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedStoreColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStoreColumns"></tr>
  </table>
</div>

<p class="money-transfer-footer-info">
  *Para transferi işlemleri Migros Ticaret A.Ş. tarafından, Temsilci sıfatıyla, Gönderal Ödeme Hizmetleri A.Ş. nam ve
  hesabına yapılmaktadır.
</p>
<p class="money-transfer-warning" *ngIf="isMoneyTransferMessage()">
  <fa-icon [icon]="infoWarningIcon"></fa-icon> {{ getMoneyTransferMessage() }}
</p>
