<!--     HOW TO - SANALMARKET     -->
<!-- ************** -->
<div class="sm-how-to-wrapper" *ngIf="isPortfolioSanalmarket()">
  <div class="how-to">
    <div class="image card"></div>
    <div class="text subtitle-1 text-color-black">Esnek Ödeme İmkanları</div>
    <div class="detail mat-body-2 text-color-grey">Kapıda veya Kredi Kartı ile Online Ödeme Yapın</div>
  </div>
  <div class="how-to">
    <div class="image truck"></div>
    <div class="text subtitle-1 text-color-black">İstediğin Saatte Teslimat</div>
    <div class="detail mat-body-2 text-color-grey">Haftanın 7 günü İstediğin Saatte Teslim Edelim</div>
  </div>
  <div class="how-to">
    <div class="image box"></div>
    <div class="text subtitle-1 text-color-black">Özenle Seçilmiş, Paketlenmiş Ürünler</div>
    <div class="detail mat-body-2 text-color-grey">Senin İçin Tüm Siparişlerini Özenle Hazırlıyoruz</div>
  </div>
  <div class="how-to">
    <div class="image money"></div>
    <div class="text subtitle-1 text-color-black">Kazan Moneyleri Harca Moneyleri</div>
    <div class="detail mat-body-2 text-color-grey">Yaptığın Alışverişlerde Money Fırsatlarını Yakala</div>
  </div>
</div>

<!-- HEMEN - HOW TO -->
<div class="sm-how-to-wrapper" *ngIf="isPortfolioHemen()">
  <div class="how-to hemen">
    <div class="image motorcycle"></div>
    <div class="text subtitle-1 text-color-black">Hızlı Teslimat</div>
    <div class="detail mat-body-2 text-color-grey">Siparişinizi 30 dakika içerisinde size ulaştırıyoruz.</div>
  </div>
  <div class="how-to hemen">
    <div class="image shopping-bag"></div>
    <div class="text subtitle-1 text-color-black">1000’lerce Ürün</div>
    <div class="detail mat-body-2 text-color-grey">1000’i aşkın ürün seçeneğinden dilediğiniz hemen kapınızda.</div>
  </div>
  <div class="how-to hemen">
    <div class="image migros-hemen-logo"></div>
    <div class="text subtitle-1 text-color-black">Migros Güvencesi</div>
    <div class="detail mat-body-2 text-color-grey">Ürünlerimiz uygun fiyatlarla, Migros kalite ve standartlarında.</div>
  </div>
</div>
