<div class="alo-migros">
  <img class="alo-migros--banner" src="/assets/images/alo-migros/alo-migros.png" alt="alo-migros-banner" />
  <div class="alo-migros--description">
    <sm-alo-migros-info
      class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet"
    ></sm-alo-migros-info>
    <sm-alo-migros-dropdown
      class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet"
      (storeInfo)="setStoreInfo($event)"
    ></sm-alo-migros-dropdown>
  </div>
</div>
