<div class="reset-password">
  <mat-card class="reset-password__content">
    <mat-card-header class="reset-password__title">
      <h1 class="text-color-orange text-align-center">Numaramı Güncelle</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="reset-password__form">
        <p class="subtitle-2 text-align-center text-color-black">
          Şimdi güncel telefon numaranı sistemimize kaydederek Sanal Market deneyimini yaşamaya kaldığın yerden devam
          edebilirsin.
        </p>
        <form
          [formGroup]="recoveryAccountFormGroup"
          feAppSubmitThrottle
          (throttleSubmit)="onRecoverySubmit()"
          [throttleFormValid]="recoveryAccountFormGroup.valid"
        >
          <mat-form-field color="accent" appearance="outline" [hideRequiredMarker]="true">
            <mat-label class="subtitle-2 text-color-black">Telefon numarası</mat-label>
            <input
              id="reset-password__phone-number-input"
              type="tel"
              maxlength="10"
              matInput
              feOnlyNumbers
              autocomplete="tel"
              formControlName="phoneNumber"
              required
            />
            <button
              mat-button
              type="button"
              color="accent"
              matSuffix
              *ngIf="phoneNumber.value"
              (click)="clear('phoneNumber')"
            >
              <fa-icon [icon]="clearIcon"></fa-icon>
            </button>
            <mat-error id="reset-password__phone-number-error--unValid" *ngIf="phoneNumber.errors?.pattern">
              Telefon numaranızı 5XXXXXXXXX şeklinde giriniz.
            </mat-error>
            <mat-error
              id="reset-password__phone-number-error--empty"
              *ngIf="phoneNumber.invalid && phoneNumber.errors?.required"
            >
              Lütfen telefon numaranızı giriniz.
            </mat-error>
          </mat-form-field>
          <fe-button
            [isDisabled]="phoneNumber.invalid"
            id="reset-password__submit-button"
            type="submit"
            label="Doğrulama Kodu Gönder"
          ></fe-button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
