<div class="logos-wrapper" [ngClass]="{ lite: isFooterLite }">
  <div class="inner">
    <div
      class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet"
    >
      <div class="logo-container">
        <img feLazyLoad src="assets/logos/migros/migros.svg" alt="migros-logo" class="migros-logo" />
        <div class="copyright text-color-grey">Ürün fiyatlarına KDV bedeli dahildir. ©Migros 2021</div>
      </div>
    </div>
    <div class="logos">
      <a href="https://www.anadolugrubu.com.tr/" target="_blank" rel="noopener">
        <img
          feLazyLoad
          class="anadolu-grubu-logo logo"
          src="assets/logos/anadolu-grubu/anadolu_grubu.jpg"
          alt="anadolu-grubu-logo"
        />
      </a>
      <a href="https://gidanikoru.com/" target="_blank" rel="noopener">
        <img
          feLazyLoad
          class="gidani-koru-logo logo"
          src="assets/logos/gidani-koru/gidani-koru.jpg"
          alt="gidani-koru-logo"
        />
      </a>
      <a
        href="https://www.guvendamgasi.org.tr/firmadetay.php?Guid=7fb4da7e-00cd-11ea-b063-48df373f4850"
        target="_blank"
        rel="noopener"
      >
        <img
          feLazyLoad
          class="logo guven-damgasi-logo"
          src="assets/logos/guven-damgasi/guven-damgasi@3x.jpg"
          alt="guven-damgasi-logo"
        />
      </a>
      <a
        id="77DC0C5568104C829695C04726B02F78"
        href="https://etbis.eticaret.gov.tr/sitedogrulama/77DC0C5568104C829695C04726B02F78"
        target="_blank"
        rel="noopener"
      >
        <img feLazyLoad class="etbis-logo logo" src="assets/logos/etbis/etbis.jpg" alt="etbis-logo" />
      </a>
    </div>
    <!--  <div class="mdc-layout-grid__cell&#45;&#45;span-6 mdc-layout-grid__cell&#45;&#45;span-4-phone">-->
    <!--    <div class="customer-personal-data">-->
    <!--      <img src="assets/logos/user/user-headset.svg" alt="customer-personal-data-logo" />-->
    <!--      <div class="customer-support__content text-color-grey">-->
    <!--        <span class="customer-support__content&#45;&#45;telephone">Müşteri Hizmetleri<br />444 10 44</span>-->
    <!--        <span class="customer-support__content&#45;&#45;hours"> / 08:30 - 24:00 (Haftanın her günü)</span>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
  </div>
</div>
