<div class="bkm-container">
  <img src="/assets/images/bkmexpress-group.png" alt="bkm-logo" class="image" />

  <div class="bkm-info">
    <span class="mat-caption-normal text-color-black info-text">
      <span> Ödeme için </span>
      <span class="mat-caption info-bold"> bkmexpress.com.tr</span>
      <span> sayfasına yönlendirileceksiniz. </span>
    </span>
    <div class="mat-caption-normal text-color-black info-text-desktop">
      İstediğiniz kartı ve ödeme şeklini seçerek kolayca ödeme yapabilirsiniz.
    </div>
    <div class="mat-caption-normal text-color-black info-text-mobile">
      İstediğiniz kartı ve ödeme şeklini seçerek kolayca ödeme yapabilirsiniz. BKM Express üyeliğiniz yoksa yeni bir
      üyelik oluşturabilirsiniz.
    </div>
    <div class="mat-caption-normal text-color-black info-text">
      Alışverişinizi tamamladıktan sonra otomatik olarak Sanal Market'e döneceksiniz.
    </div>
  </div>
</div>
<div id="bkm-modal"></div>
