<div class="container">
  <div class="logo-container">
    <img src="/assets/images/garanti-pay/garanti.svg" alt="garanti-logo" class="garanti-logo" />
    <img src="/assets/images/garanti-pay/down-arrow.svg" alt="garanti-down-arrow" class="down-arrow" />
    <img
      src="/assets/images/garanti-pay/group.png"
      srcset="/assets/images/garanti-pay/group@2x.png 2x, /assets/images/garanti-pay/group@3x.png 3x"
      alt="garanti-pay-logo"
      class="garanti-pay-logo"
    />
  </div>

  <div class="info-container">
    <div class="mat-caption-normal text-color-black info-text">
      GarantiPay ile ödeme yaparken <span class="info-text--bold">www.garanti.com.tr</span> sayfasına
      yönlendirileceksiniz.
      <span class="desktop-only">Kimlik numaranızla ya da cep telefonu numaranızla hesabınıza giriş yapın.</span>
    </div>
    <div class="mat-caption-normal text-color-black info-text">
      Ödeme işlemi için telefonunuzdaki <span class="info-text--bold">Bonus Flaş</span> mobil uygulamasına
      yönlendirileceksiniz.
    </div>
    <div class="mat-caption-normal text-color-black info-text">
      İstediğiniz kartı ve ödeme şeklini seçerek kolayca ödeme yapabilirsiniz.
    </div>
    <div class="mat-caption-normal text-color-black info-text">
      Alışverişinizi tamamladıktan sonra otomatik olarak Sanal Market’e döneceksiniz.
    </div>
  </div>
</div>
